<form action="">
    <label for="team">Team: </label>
    <input type="text" name="team" id="team">
    <label for="sport">Sport: </label>
    <input type="text" name="sport" id="sport">
    <label for="brand">Brand: </label>
    <input type="text" name="brand" id="brand">
    <label for="price">Price: </label>
    <input type="text" name="price" id="price">
    <button type="submit">Add item</button>
</form>
