<html>
    <head>
        <title>Product Categories</title>
    </head>
    <body>
        <h1>Product Categories</h1>
        <% categories.forEach((category) {
            <%= category.name %>
       <% }); %>
    </body>
</html>