<html>
    <head>
        <title><%= category %></title>
    </head>
    <h1><%= category %></h1>

    <body>
        <ul>
            <% items.forEach((item) => { %>
                <li><%= item.brand %> <%= item.model %></li>
            <% }); %>
        </ul>
        
    </body>

</html>