<html>
    <head>
        <title>Sport Categories</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar'); -%>
        <h1>Sport Categories</h1>
        <div class="category-container">
            <% categories.forEach((category) => { %>
                <div class="sport-categories">
                    <a href="/sports/<%= category.sport %>"><%= category.sport %></a>
                </div> 
            <% }); %>
        </div>
        
    </body>
</html>