li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    width: 300px;
    height: 300px;
    list-style-type: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

body {
    background-color: white;

}

.football {
    width: 150px;
    height: auto;
}

.baseball {
    width: 150px;
    height: auto
}

.hockey {
    width: 150px;
    height: auto;
}

.bball {
    width: 150px;
    height: auto
}